.DS_Store
bem_candidato_2008.zip
bem_candidato_2008/
bem_candidato_2010.zip
bem_candidato_2010/
bem_candidato_2012.zip
bem_candidato_2012/
bem_candidato_2014.zip
bem_candidato_2014/
bem_candidato_2016.zip
bem_candidato_2016/
bem_candidato_2018.zip
bem_candidato_2018/
consulta_cand_2008.zip
consulta_cand_2008/
consulta_cand_2010.zip
consulta_cand_2010/
consulta_cand_2012.zip
consulta_cand_2012/
consulta_cand_2014.zip
consulta_cand_2014/
consulta_cand_2016.zip
consulta_cand_2016/
consulta_cand_2018.zip
consulta_cand_2018/
*.txt
